.header {
  padding: 5px 0;
  background-color: #1f1f1f;
  color: #fff;
}

.logo {
  height: 60px;
}

.state {
  display: inline-block;
}

.temperature {
  margin-left: 8px;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

@media (max-width: 700px) {
  .logo {
    height: 40px;
  }

  .state {
    display: none;
  }

  .temperature {
    margin-left: 6px;
    font-size: 16px;
  }
}
